body {
  background-image: url("https://img3.goodfon.com/wallpaper/nbig/2/5a/pasture-the-bavarian-alps.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}

h2 {
  color: white;
  font-size: 3rem;
  text-shadow: 0 0 5px black;
  text-align: center;
  margin-bottom: 0.5em;
}

li {
  margin-top: 0.5em;
}

#add-todo {
  margin-left: 0.5em;
  width: 6em;
  font-weight: bold;
}

#box-input-text {
  margin-top: 2em;
  margin-bottom: 5em;
  width: 80%;
  max-width: 700px;
}

#new-item {
  width: 60%;
  max-width: 700px;
  font-weight: bold;
  font-size: 1.2rem;
}

.delete-todo {
  margin-top: 0.5em;
  margin-right: 2.5em;
}

.edit-todo {
  margin-right: 1em;
  margin-top: 0.5em;
  margin-left: 1em;
}

.form-control {
  overflow: hidden;
  white-space: nowrap;
  width: 20em;
}

.li-wrapper {
  margin: 1em 0;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .li-wrapper {
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin-bottom: 2em;
  }

  .delete-todo,
  .edit-todo {
    margin: 0.5em 0 0;
    width: 50%;
  }

  .form-control {
    width: 100%;
  }

  #list-todo {
    margin: 0;
    width: 100%;
  }

  #box-input-text {
    margin: 3em auto;
  }

  #style-add {
    flex-direction: column;
  }

  #new-item {
    width: 100%;
    margin-bottom: 0.5em;
  }
}
